.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-advice-food {
    width: 74px;
    height: 70px;
    background-position: -5px -5px;
}

.sprite-advice-gift {
    width: 64px;
    height: 76px;
    background-position: -89px -5px;
}

.sprite-advice-house {
    width: 75px;
    height: 72px;
    background-position: -5px -91px;
}

.sprite-htmlacademy-black {
    width: 113px;
    height: 39px;
    background-position: -90px -91px;
}

.sprite-htmlacademy-blue {
    width: 113px;
    height: 39px;
    background-position: -90px -140px;
}

.sprite-htmlacademy-gray {
    width: 113px;
    height: 39px;
    background-position: -163px -5px;
}

.sprite-icon-calendar-black {
    width: 21px;
    height: 22px;
    background-position: -286px -5px;
}

.sprite-icon-calendar-blue {
    width: 21px;
    height: 22px;
    background-position: -317px -5px;
}

.sprite-icon-calendar-gray {
    width: 21px;
    height: 22px;
    background-position: -286px -37px;
}

.sprite-icon-checked-dark {
    width: 26px;
    height: 22px;
    background-position: -317px -37px;
}

.sprite-icon-checked-light {
    width: 26px;
    height: 22px;
    background-position: -213px -69px;
}

.sprite-icon-minus-black {
    width: 12px;
    height: 3px;
    background-position: -163px -69px;
}

.sprite-icon-minus-blue {
    width: 12px;
    height: 3px;
    background-position: -185px -69px;
}

.sprite-icon-minus-gray {
    width: 12px;
    height: 3px;
    background-position: -249px -69px;
}

.sprite-icon-plus-black {
    width: 11px;
    height: 11px;
    background-position: -271px -69px;
}

.sprite-icon-plus-blue {
    width: 11px;
    height: 11px;
    background-position: -292px -69px;
}

.sprite-icon-plus-gray {
    width: 11px;
    height: 11px;
    background-position: -313px -69px;
}

.sprite-icon-star {
    width: 18px;
    height: 17px;
    background-position: -249px -90px;
}

.sprite-icon-unchecked-dark {
    width: 22px;
    height: 22px;
    background-position: -277px -90px;
}

.sprite-icon-unchecked-light {
    width: 22px;
    height: 22px;
    background-position: -309px -90px;
}

.sprite-social-facebook {
    width: 10px;
    height: 19px;
    background-position: -213px -122px;
}

.sprite-social-twitter {
    width: 17px;
    height: 15px;
    background-position: -233px -122px;
}

.sprite-social-youtube {
    width: 20px;
    height: 16px;
    background-position: -260px -122px;
}